* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont;
  background-color: black;
  color: white;
}

* body {
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  background-color: #141414;
}

header div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div .icon {
  margin-right: 16px;
  vertical-align: middle;
  display: inline;
}

header div .icon a svg {
  background-color: #141414;
  width: 32px;
  height: 32px;
}

header div .icon a svg path {
  fill: white;
}

header div input {
  vertical-align: middle;
  display: inline;
  width: 230px;
  height: 28px;
  margin-right: 16px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: black;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  font-weight: 300;
}

header div input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header div input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header div input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header div input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

header div .links {
  display: inline;
  vertical-align: middle;
  background-color: #141414;
}

header div .links a {
  background-color: #141414;
  vertical-align: middle;
  margin-right: 16px;
  white-space: nowrap;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

header .info {
  background-color: #141414;
  -webkit-transform: translatey(3px);
          transform: translatey(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

header .info svg {
  background-color: #141414;
  height: 16px;
  width: 16px;
}

header .info svg:first-child {
  margin-right: 16px;
}

header .info svg path {
  fill: white;
}

header .info span {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-color: white;
  border-style: solid;
  border-width: 4px 4px 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-left: 2px;
}

header .info span.add {
  margin-right: 15px;
}

header .info img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 12vw 0px 12vw;
}

.container .profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.container .profile .displayname {
  padding-top: 16px;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 600;
}

.container .profile .username {
  padding-bottom: 16px;
  color: grey;
  font-size: 20px;
  font-weight: 300;
}

.container .profile .bio {
  margin-bottom: 16px;
  line-height: 24px;
  font-size: 16px;
}

.container .profile button {
  border: solid;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  border-width: 1px;
  margin-bottom: 16px;
  width: 262px;
  line-height: 20px;
  font-size: 14px;
}

.container .profile button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.container .profile .tags {
  fill: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.container .profile .tags div {
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .profile .tags div svg {
  height: 16px;
  width: 16px;
}

.container .profile .tags div p {
  margin-left: 10px;
  display: inline;
  color: rgba(255, 255, 255, 0.7);
}

.container .content {
  display: block;
  margin-left: 16px;
}

.container .content nav {
  display: block;
  margin-bottom: 32px;
  padding-left: 8px;
  width: calc(76vw - 324px);
}

.container .content nav a {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
}

.container .content nav a.current {
  border-color: #f78166;
  border-bottom-width: 2px;
}

.container .content nav a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.container .content nav a svg {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  fill: rgba(255, 255, 255, 0.7);
}

.container .content .repo-container {
  display: -ms-grid;
  display: grid;
  margin-bottom: 32px;
}

.container .content .repo-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .content .repo-container div p {
  display: inline;
  margin-right: calc(50vw - 1000px);
  white-space: nowrap;
}

.container .content .repo-container div a {
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  color: grey;
  font-size: 12px;
}

.container .content .repo-container div a:hover {
  text-decoration: underline;
}

.container .content .repo-container .repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.container .content .repo-container .repos .repo {
  display: inline-block;
  height: 115px;
  width: 48%;
  border-radius: 6px;
  border: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 16px;
}

.container .content .repo-container .repos .repo a {
  display: block;
  color: #58a6ff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 16px;
}

.container .content .repo-container .repos .repo a:hover {
  text-decoration: underline;
}

.container .content .repo-container .repos .repo .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-bottom: 16px;
  color: gray;
}

.container .content .repo-container .repos .repo .circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #41b883;
  width: 12px;
  height: 12px;
  border: 1px;
}

.container .content .repo-container .repos .repo p.lang {
  vertical-align: middle;
  display: inline;
  font-size: 12px;
  margin: 0px;
  color: gray;
}

.container .content .contribution {
  margin-bottom: 32px;
}

.container .content .contribution .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .content .contribution .title p {
  display: inline;
  margin-right: calc(50vw - 1000px);
  white-space: nowrap;
}

.container .content .contribution .title a {
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  color: grey;
  font-size: 12px;
}

.container .content .contribution .title a span {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-color: grey;
  border-style: solid;
  border-width: 4px 4px 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-left: 2px;
}

.container .content .contribution .title a:hover {
  text-decoration: underline;
}

.container .content .contribution .table {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  height: 186px;
  padding: 8px 0px;
  border-radius: 6px 0px;
}

.container .content .activity {
  display: block;
}

.container .content .activity .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 32px;
}

.container .content .activity .title p {
  display: inline;
  margin-right: calc(50vw - 1000px);
  white-space: nowrap;
}

.container .content .activity .title button {
  border-style: none;
  background-color: #1f6feb;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  font-size: 12px;
}

.container .content .activity .title button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container .content .activity .events {
  display: inline-flexbox;
  border-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  padding: 8px 0px;
  margin-left: 16px;
  border-radius: 6px 0px;
}

.container .content .activity .events span {
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  background-color: black;
  white-space: nowrap;
  -webkit-transform: translate(-20px, -28px);
          transform: translate(-20px, -28px);
  padding: 8px;
  vertical-align: middle;
}

.container .content .activity .events .event {
  margin-bottom: 32px;
}

.container .content .activity .events .event .badge {
  vertical-align: middle;
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #21262d;
  border-radius: 50%;
  margin-left: -15px;
}

.container .content .activity .events .event .badge svg {
  vertical-align: middle;
  margin-left: 3px;
  display: inline-block;
  fill: white;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}

.container .content .activity .events .event a {
  margin-left: 16px;
}

.container .content .activity .events .event a:hover {
  color: #58a6ff;
  text-decoration: underline;
  cursor: pointer;
}

.container .content .activity .events .event .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 34px;
}

.container .content .activity .events .event .info a {
  white-space: nowrap;
  font-size: 14px;
  display: inline;
  margin: 0px;
  text-decoration: none;
}

.container .content .activity .events .event .info a:hover {
  color: #58a6ff;
  text-decoration: underline;
  cursor: pointer;
}

.container .content .activity .events .event .info a:first-child {
  color: #58a6ff;
}

.container .content .activity .events .event .info a:nth-child(2) {
  margin-left: 14px;
  color: grey;
}

.container .content .activity .events .event .pic {
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  text-align: center;
  border-style: solid;
  margin-left: 34px;
  margin-top: 5px;
}

.container .content .activity .events .event .pic img {
  width: 500px;
  height: 316px;
  display: block;
  margin-left: calc(50% - 250px);
  padding-top: 16px;
}

.container .content .activity .events .event .pic p {
  color: #41b883;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  font-weight: 800;
}

.container .content .activity .events .event .pic .detail {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  margin-top: 6px;
}

.container .content .activity .events .event .pic .detail:nth-child(3) {
  margin-top: 0px;
}

.container .content .activity .events .event .pic .detail svg {
  display: inline;
  height: 16px;
  width: 16px;
  fill: grey;
  vertical-align: middle;
}

.container .content .activity .events .event .pic .detail a {
  color: #58a6ff;
  text-decoration: none;
  vertical-align: middle;
  margin: 0px 2px;
}

.container .content .activity .events .event .pic .detail a:hover {
  text-decoration: underline;
}

.container .content .activity .events .event .pic .detail a:nth-child(1) {
  color: grey;
  font-size: 12px;
}

.container .content .activity .events .event .pic .detail a:nth-child(1):hover {
  text-decoration: underline;
  color: #58a6ff;
}

.container .content .activity .events .event .pic .detail label {
  text-decoration: none;
  color: grey;
  border: solid;
  border-width: 1px;
  border-radius: 24px;
  font-size: 12px;
  padding: 0px 7px;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */